

*.txt
!requirements.txt
# Google API فيه مفتاح 
.env          

# ملفات Python المؤقتة
# بايثون ينشئ هذا المجلد تلقائياً ليخزن فيه نسخة "مترجمة" من كودك ليسرع التشغيل. لا نحتاج لرفعه لأنه يتغير باستمرار.
__pycache__/  

# ملفات ناتجة عن تشغيل Python
# pycache هذه هي الملفات التي تكون داخل مجلد
*.pyc
